body {
    background-color: black;
}
h1 {
    text-align: center;
    color: #df960e;
    border: 5px double #742d80;
}
#houses_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}